body {
    background-color: #000000;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #ff0000;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#subtitulo {
    color: #f8f4f4;
    text-align: center;
    font-size: 3em;
}

p { 
    color: #f8f4f4;
    text-align: center;
    font-size: 2em;
}

.enunciado {
    font-style: italic;
    font-size: 2.5em;
}

#peliculas {
    background-color: #b96d6d;
    border-color: #ff0000;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;

}

.peliculas {
    flex: 1 1 200px;
    min-width: 0;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 280px;
    border-radius: 6px;
}

#opciones {
    color:#000000;
    font-size: 3em;
}

.enlace {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2em;
    margin-top: 10px;
}

.enlace:hover {
    background-color: #b30000;
}
.centro {
    display:grid; 
    align-items: center;
}